In [1]:
from pycaret.regression import *
import pandas as pd

train_init = pd.read_csv('data/train.csv')
final_test = pd.read_csv('data/test.csv')
train_samp = train_init[['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'SalePrice']].sample(frac=0.10)
train_samp.shape

(146, 8)

In [2]:
setup(train_init, target='SalePrice', fold_shuffle=True, session_id=0)

(False,
 None,
 True,
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'dashboard_logger',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_groups_param_full',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
 Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False),
 [],
 529     200624
 491     133000
 459     110000
 279     192000
 655      88000
          ...
 445     127500
 654     350000
 1280    227000
 898     611657
 64      219500
 Name: SalePrice, Length: 439, dtype: int64,
 {'parameter': 'Hyperparameters',
  'residuals': 'Residuals',
  'error': 'Prediction Error',
  'cooks': 'Cooks Distance',
  'rfe': 'Feature Selection',
  'learning': 'Learning Curve',
  'manifold': 'Manifold Learning',
  'vc': 'Validation Curve',
  'feature': 'Feature Importance',
  'feature_all': 'Feature Importance (All)',
  'tree': 'Decision Tree',
  'residuals_interactive': 'Interactive Residuals'},
 'reg-default-name',
 None,
 {'lr': <pycaret.containers.models.regression.LinearRegressionContainer at 0x158991bf580>,
  'lasso': <pycaret.containers.models.regression.LassoRegressionContainer at 0x158991bf790>,
  'ridge': <pycaret.containers.models.regression.RidgeRegressionContainer at 0x158991bf940>,
  'en': <pycaret.containers.models.regression.ElasticNetContainer at 0x1589923d1c0>,
  'lar': <pycaret.containers.models.regression.LarsContainer at 0x1589923ddc0>,
  'llar': <pycaret.containers.models.regression.LassoLarsContainer at 0x1589923dcd0>,
  'omp': <pycaret.containers.models.regression.OrthogonalMatchingPursuitContainer at 0x158992912b0>,
  'br': <pycaret.containers.models.regression.BayesianRidgeContainer at 0x158992915b0>,
  'ard': <pycaret.containers.models.regression.AutomaticRelevanceDeterminationContainer at 0x158980d7880>,
  'par': <pycaret.containers.models.regression.PassiveAggressiveRegressorContainer at 0x15899241940>,
  'ransac': <pycaret.containers.models.regression.RANSACRegressorContainer at 0x158992410d0>,
  'tr': <pycaret.containers.models.regression.TheilSenRegressorContainer at 0x1589813b3a0>,
  'huber': <pycaret.containers.models.regression.HuberRegressorContainer at 0x1589813b820>,
  'kr': <pycaret.containers.models.regression.KernelRidgeContainer at 0x1589813ba00>,
  'svm': <pycaret.containers.models.regression.SVRContainer at 0x158980edd90>,
  'knn': <pycaret.containers.models.regression.KNeighborsRegressorContainer at 0x158981d6fd0>,
  'dt': <pycaret.containers.models.regression.DecisionTreeRegressorContainer at 0x158981d6cd0>,
  'rf': <pycaret.containers.models.regression.RandomForestRegressorContainer at 0x158980adac0>,
  'et': <pycaret.containers.models.regression.ExtraTreesRegressorContainer at 0x158991c3dc0>,
  'ada': <pycaret.containers.models.regression.AdaBoostRegressorContainer at 0x158991c3970>,
  'gbr': <pycaret.containers.models.regression.GradientBoostingRegressorContainer at 0x15899239580>,
  'mlp': <pycaret.containers.models.regression.MLPRegressorContainer at 0x158992393d0>,
  'lightgbm': <pycaret.containers.models.regression.LGBMRegressorContainer at 0x158991c88b0>,
  'dummy': <pycaret.containers.models.regression.DummyRegressorContainer at 0x158991c8190>},
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['Id'],
                                       ml_usecase='regression',
                                       numerical_features=[], target='SalePrice',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_st...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='SalePrice')),
                 ('fix_perfect', Remove_100(target='SalePrice')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
 0        1          60       RL         65.0     8450   Pave   NaN      Reg
 1        2          20       RL         80.0     9600   Pave   NaN      Reg
 2        3          60       RL         68.0    11250   Pave   NaN      IR1
 3        4          70       RL         60.0     9550   Pave   NaN      IR1
 4        5          60       RL         84.0    14260   Pave   NaN      IR1
 ...    ...         ...      ...          ...      ...    ...   ...      ...
 1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
 1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
 1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
 1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
 1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

      LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
 0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 ...          ...       ...  ...      ...    ...    ...         ...     ...
 1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
 1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
 1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
 1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

      MoSold YrSold  SaleType  SaleCondition  SalePrice
 0         2   2008        WD         Normal     208500
 1         5   2007        WD         Normal     181500
 2         9   2008        WD         Normal     223500
 3         2   2006        WD        Abnorml     140000
 4        12   2008        WD         Normal     250000
 ...     ...    ...       ...            ...        ...
 1455      8   2007        WD         Normal     175000
 1456      2   2010        WD         Normal     210000
 1457      5   2010        WD         Normal     266500
 1458      4   2010        WD         Normal     142125
 1459      6   2008        WD         Normal     147500

 [1460 rows x 81 columns],
 None,
 {'mae': <pycaret.containers.metrics.regression.MAEMetricContainer at 0x15899299c40>,
  'mse': <pycaret.containers.metrics.regression.MSEMetricContainer at 0x15899299b80>,
  'rmse': <pycaret.containers.metrics.regression.RMSEMetricContainer at 0x15899299be0>,
  'r2': <pycaret.containers.metrics.regression.R2MetricContainer at 0x15899299d90>,
  'rmsle': <pycaret.containers.metrics.regression.RMSLEMetricContainer at 0x15899299df0>,
  'mape': <pycaret.containers.metrics.regression.MAPEMetricContainer at 0x15899299e20>},
       LotFrontage  LotArea  YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  \
 0            65.0   8450.0     2003.0        2003.0       196.0       706.0
 1            80.0   9600.0     1976.0        1976.0         0.0       978.0
 2            68.0  11250.0     2001.0        2002.0       162.0       486.0
 3            60.0   9550.0     1915.0        1970.0         0.0       216.0
 4            84.0  14260.0     2000.0        2000.0       350.0       655.0
 ...           ...      ...        ...           ...         ...         ...
 1455         62.0   7917.0     1999.0        2000.0         0.0         0.0
 1456         85.0  13175.0     1978.0        1988.0       119.0       790.0
 1457         66.0   9042.0     1941.0        2006.0         0.0       275.0
 1458         68.0   9717.0     1950.0        1996.0         0.0        49.0
 1459         75.0   9937.0     1965.0        1965.0         0.0       830.0

       BsmtFinSF2  BsmtUnfSF  TotalBsmtSF  1stFlrSF  ...  SaleType_ConLw  \
 0            0.0      150.0        856.0     856.0  ...             0.0
 1            0.0      284.0       1262.0    1262.0  ...             0.0
 2            0.0      434.0        920.0     920.0  ...             0.0
 3            0.0      540.0        756.0     961.0  ...             0.0
 4            0.0      490.0       1145.0    1145.0  ...             0.0
 ...          ...        ...          ...       ...  ...             ...
 1455         0.0      953.0        953.0     953.0  ...             0.0
 1456       163.0      589.0       1542.0    2073.0  ...             0.0
 1457         0.0      877.0       1152.0    1188.0  ...             0.0
 1458      1029.0        0.0       1078.0    1078.0  ...             0.0
 1459       290.0      136.0       1256.0    1256.0  ...             0.0

       SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
 0              0.0           0.0          1.0                    0.0
 1              0.0           0.0          1.0                    0.0
 2              0.0           0.0          1.0                    0.0
 3              0.0           0.0          1.0                    1.0
 4              0.0           0.0          1.0                    0.0
 ...            ...           ...          ...                    ...
 1455           0.0           0.0          1.0                    0.0
 1456           0.0           0.0          1.0                    0.0
 1457           0.0           0.0          1.0                    0.0
 1458           0.0           0.0          1.0                    0.0
 1459           0.0           0.0          1.0                    0.0

       SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
 0                       0.0                   0.0                   0.0
 1                       0.0                   0.0                   0.0
 2                       0.0                   0.0                   0.0
 3                       0.0                   0.0                   0.0
 4                       0.0                   0.0                   0.0
 ...                     ...                   ...                   ...
 1455                    0.0                   0.0                   0.0
 1456                    0.0                   0.0                   0.0
 1457                    0.0                   0.0                   0.0
 1458                    0.0                   0.0                   0.0
 1459                    0.0                   0.0                   0.0

       SaleCondition_Normal  SaleCondition_Partial
 0                      1.0                    0.0
 1                      1.0                    0.0
 2                      1.0                    0.0
 3                      0.0                    0.0
 4                      1.0                    0.0
 ...                    ...                    ...
 1455                   1.0                    0.0
 1456                   1.0                    0.0
 1457                   1.0                    0.0
 1458                   1.0                    0.0
 1459                   1.0                    0.0

 [1460 rows x 390 columns],
 False,
 <MLUsecase.REGRESSION: 2>,
 False,
 None,
 'box-cox',
 '0033',
 5,
       LotFrontage  LotArea  YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  \
 682     69.668671   2887.0     1996.0        1997.0         0.0      1003.0
 960     50.000000   7207.0     1958.0        2008.0         0.0       696.0
 1384    60.000000   9060.0     1939.0        1950.0         0.0       204.0
 1100    60.000000   8400.0     1920.0        1950.0         0.0       290.0
 416     74.000000   7844.0     1978.0        1978.0       203.0       209.0
 ...           ...      ...        ...           ...         ...         ...
 763     82.000000   9430.0     1999.0        1999.0       673.0      1163.0
 835     60.000000   9600.0     1950.0        1995.0         0.0       442.0
 1216    68.000000   8930.0     1978.0        1978.0         0.0         0.0
 559     69.668671   3196.0     2003.0        2004.0        18.0         0.0
 684     58.000000  16770.0     1998.0        1998.0        30.0         0.0

       BsmtFinSF2  BsmtUnfSF  TotalBsmtSF  1stFlrSF  ...  SaleType_ConLw  \
 682          0.0      288.0       1291.0    1291.0  ...             0.0
 960          0.0      162.0        858.0     858.0  ...             0.0
 1384         0.0      356.0        560.0     698.0  ...             0.0
 1100         0.0        0.0        290.0     438.0  ...             0.0
 416          0.0      463.0        672.0     672.0  ...             0.0
 ...          ...        ...          ...       ...  ...             ...
 763          0.0       89.0       1252.0    1268.0  ...             0.0
 835          0.0      625.0       1067.0    1067.0  ...             0.0
 1216         0.0        0.0          0.0    1318.0  ...             0.0
 559          0.0     1374.0       1374.0    1557.0  ...             0.0
 684          0.0     1195.0       1195.0    1195.0  ...             0.0

       SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
 682            0.0           0.0          1.0                    0.0
 960            0.0           0.0          1.0                    0.0
 1384           0.0           0.0          1.0                    0.0
 1100           0.0           0.0          1.0                    0.0
 416            0.0           0.0          1.0                    0.0
 ...            ...           ...          ...                    ...
 763            0.0           0.0          1.0                    0.0
 835            0.0           0.0          1.0                    0.0
 1216           0.0           0.0          1.0                    0.0
 559            0.0           0.0          1.0                    0.0
 684            0.0           0.0          1.0                    0.0

       SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
 682                     0.0                   0.0                   0.0
 960                     0.0                   0.0                   0.0
 1384                    0.0                   0.0                   0.0
 1100                    0.0                   0.0                   0.0
 416                     0.0                   0.0                   0.0
 ...                     ...                   ...                   ...
 763                     0.0                   0.0                   0.0
 835                     0.0                   0.0                   0.0
 1216                    0.0                   0.0                   0.0
 559                     0.0                   0.0                   0.0
 684                     0.0                   0.0                   0.0

       SaleCondition_Normal  SaleCondition_Partial
 682                    1.0                    0.0
 960                    1.0                    0.0
 1384                   1.0                    0.0
 1100                   1.0                    0.0
 416                    1.0                    0.0
 ...                    ...                    ...
 763                    1.0                    0.0
 835                    1.0                    0.0
 1216                   1.0                    0.0
 559                    1.0                    0.0
 684                    1.0                    0.0

 [1021 rows x 390 columns],
 -1,
 0       208500
 1       181500
 2       223500
 3       140000
 4       250000
          ...
 1455    175000
 1456    210000
 1457    266500
 1458    142125
 1459    147500
 Name: SalePrice, Length: 1460, dtype: int64,
 682     173000
 960     116500
 1384    105000
 1100     60000
 416     149500
          ...
 763     337000
 835     128000
 1216    112000
 559     234000
 684     221000
 Name: SalePrice, Length: 1021, dtype: int64,
 False,
 0,
       LotFrontage  LotArea  YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  \
 529     69.668671  32668.0     1957.0        1975.0  103.091537      1219.0
 491     79.000000   9490.0     1941.0        1950.0    0.000000       403.0
 459     69.668671   7015.0     1950.0        1950.0  161.000000       185.0
 279     83.000000  10005.0     1977.0        1977.0  299.000000       392.0
 655     21.000000   1680.0     1971.0        1971.0  381.000000         0.0
 ...           ...      ...        ...           ...         ...         ...
 445     73.000000   9855.0     1956.0        1956.0    0.000000         0.0
 654     91.000000  10437.0     1995.0        1995.0  660.000000      1696.0
 1280    67.000000   9808.0     2002.0        2002.0  110.000000       788.0
 898    100.000000  12919.0     2009.0        2010.0  760.000000      2188.0
 64      69.668671   9375.0     1997.0        1998.0  573.000000       739.0

       BsmtFinSF2  BsmtUnfSF  TotalBsmtSF  1stFlrSF  ...  SaleType_ConLw  \
 529          0.0      816.0       2035.0    2515.0  ...             0.0
 491        165.0      238.0        806.0     958.0  ...             0.0
 459          0.0      524.0        709.0     979.0  ...             0.0
 279          0.0      768.0       1160.0    1156.0  ...             0.0
 655          0.0      525.0        525.0     525.0  ...             0.0
 ...          ...        ...          ...       ...  ...             ...
 445          0.0     1436.0       1436.0    1689.0  ...             0.0
 654          0.0      413.0       2109.0    2113.0  ...             0.0
 1280         0.0      785.0       1573.0    1573.0  ...             0.0
 898          0.0      142.0       2330.0    2364.0  ...             0.0
 64           0.0      318.0       1057.0    1057.0  ...             0.0

       SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
 529            0.0           0.0          1.0                    0.0
 491            0.0           0.0          1.0                    0.0
 459            0.0           0.0          1.0                    0.0
 279            0.0           0.0          1.0                    0.0
 655            0.0           0.0          1.0                    0.0
 ...            ...           ...          ...                    ...
 445            0.0           0.0          0.0                    0.0
 654            0.0           0.0          1.0                    0.0
 1280           0.0           0.0          1.0                    0.0
 898            1.0           0.0          0.0                    0.0
 64             0.0           0.0          1.0                    0.0

       SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
 529                     0.0                   1.0                   0.0
 491                     0.0                   0.0                   0.0

In [34]:
best3 = compare_models(n_select=3, sort="RMSE", round=1)

In [4]:
print(best3)

[Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=0, solver='auto', tol=0.001), OrthogonalMatchingPursuit(fit_intercept=True, n_nonzero_coefs=None,
                          normalize=True, precompute='auto', tol=None), LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=0, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)]

In [5]:
ridge = create_model('ridge', round=1)

In [16]:
ridge_tuned = tune_model(ridge, n_iter = 50)

In [13]:
best3_tuned = [tune_model(model) for model in best3]

In [14]:
print(best3_tuned)

[Ridge(alpha=4.14, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=0, solver='auto', tol=0.001), OrthogonalMatchingPursuit(fit_intercept=True, n_nonzero_coefs=139,
                          normalize=False, precompute='auto', tol=None), LGBMRegressor(bagging_fraction=0.5, bagging_freq=0, boosting_type='gbdt',
              class_weight=None, colsample_bytree=1.0, feature_fraction=1.0,
              importance_type='split', learning_rate=0.05, max_depth=-1,
              min_child_samples=11, min_child_weight=0.001, min_split_gain=0.5,
              n_estimators=80, n_jobs=-1, num_leaves=50, objective=None,
              random_state=0, reg_alpha=0.01, reg_lambda=0.005, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)]

In [ ]:

plot_model(ridge_tuned)

In [27]:

ridge_bagged = ensemble_model(ridge_tuned)

In [28]:
ridge_boosted = ensemble_model(ridge_tuned, method='Boosting')

In [41]:
omp = create_model('omp', fold=20)

In [42]:

omp_tuned = tune_model(omp, n_iter=100)

In [43]:
omp_bagged = ensemble_model(omp_tuned)

In [38]:
lasso = create_model('lasso', fold=20)

In [39]:
lasso_tuned = tune_model(lasso, n_iter=100)

In [40]:
lasso_bagged = ensemble_model(lasso_tuned)

In [11]:
blender_top3 = blend_models(best3)

In [25]:
blender_best3_tuned = blend_models(best3_tuned)

In [26]:
stacked_best3 = stack_models(best3)

In [44]:
blend_best3_tuned_twice = blend_models([ridge_bagged, omp_tuned, lasso_bagged])

In [45]:
final_model = finalize_model(blend_best3_tuned_twice)

In [47]:
pred = predict_model(final_model, final_test)
pred

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Label
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,130557.569473
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,167347.365390
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,194015.769389
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,203324.316475
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,219952.467114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,90987.896903
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,86148.403564
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,173931.161850
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,127907.290438
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,218137.333502

In [50]:

res = pd.DataFrame({
        "Id": pred['Id'],
        "SalePrice": pred['Label']
    })

res.to_csv('submissions/submission.csv', index=False)